# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Apr 30 2020 09:43:18

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

###MergeFF List 16
set_io_ff SEL[1] -out ON
set_io_ff SPI_MOSI -in ON
set_io_ff TDMCK2 -in ON
set_io_ff TDMDAT1 -in ON
set_io_ff TDMDAT2 -in ON
set_io_ff SEL[8] -out ON
set_io_ff TDMFS1 -in ON
set_io_ff CTL1 -in ON
set_io_ff CTL2 -in ON
set_io_ff SEL[2] -out ON
set_io_ff SEL[3] -out ON
set_io_ff SEL[4] -out ON
set_io_ff SEL[5] -out ON
set_io_ff SEL[6] -out ON
set_io_ff SEL[7] -out ON
set_io_ff TDMFS2 -in ON

###IOSet List 29
set_io SEL[5] 90 -io_std SB_LVCMOS -pullup no
set_io SPI_MISO 45 -io_std SB_LVCMOS -pullup no
set_io TDMFS2 87 -io_std SB_LVCMOS -pullup yes
set_io C_TXEN 62 -io_std SB_LVCMOS -pullup no
set_io SEL[4] 82 -io_std SB_LVCMOS -pullup no
set_io A_TXD 69 -io_std SB_LVCMOS -pullup no
set_io SEL[7] 93 -io_std SB_LVCMOS -pullup no
set_io SPI_SCK 40 -io_std SB_LVCMOS -pullup no
set_io NET_TXD 24 -io_std SB_LVCMOS -pullup no
set_io SEL[6] 91 -io_std SB_LVCMOS -pullup no
set_io TDMDAT1 97 -io_std SB_LVCMOS -pullup yes
set_io TDMFS1 99 -io_std SB_LVCMOS -pullup yes
set_io SEL[1] 79 -io_std SB_LVCMOS -pullup no
set_io TDMCK2 89 -io_std SB_LVCMOS -pullup yes
set_io TDMDAT2 86 -io_std SB_LVCMOS -pullup yes
set_io A_TXEN 65 -io_std SB_LVCMOS -pullup no
set_io B_TXD 56 -io_std SB_LVCMOS -pullup no
set_io B_TXEN 54 -io_std SB_LVCMOS -pullup no
set_io CTL2 95 -io_std SB_LVCMOS -pullup yes
set_io SEL[8] 94 -io_std SB_LVCMOS -pullup no
set_io SPI_MOSI 46 -io_std SB_LVCMOS -pullup no
set_io SPI_NSS 49 -io_std SB_LVCMOS -pullup no
set_io CTL1 83 -io_std SB_LVCMOS -pullup yes
set_io PM_TXD 73 -io_std SB_LVCMOS -pullup no
set_io SEL[3] 81 -io_std SB_LVCMOS -pullup no
set_io C_TXD 63 -io_std SB_LVCMOS -pullup no
set_io D_TXD 52 -io_std SB_LVCMOS -pullup no
set_io D_TXEN 51 -io_std SB_LVCMOS -pullup no
set_io SEL[2] 80 -io_std SB_LVCMOS -pullup no

