[Rr]elease*/
[Dd]ebug*/
.metadata/
RemoteSystemsTempFiles/
*.swp
*.bak
*.pyc
*.log
*.bin
*.o
*.a
*.exe
*.elf
*.lst
*~
language.settings.xml

# Don't tract LaTeX build files
doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.hst
doc/*.lof
doc/*.lot
doc/*.out
doc/*.toc
doc/*.ver
