[Rr]elease*/
[Dd]ebug*/
.metadata/
RemoteSystemsTempFiles/
*.swp
*.bak
*.pyc
*.log
*.bin
*.o
*.a
*.exe
*.elf
*.lst
*.orig
*~
language.settings.xml

# Don't tract LaTeX build files
doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.hst
doc/*.lof
doc/*.lot
doc/*.out
doc/*.toc
doc/*.ver

docs/tex/*.aux
docs/tex/*.fdb_latexmk
docs/tex/*.fls
docs/tex/*.hst
docs/tex/*.lof
docs/tex/*.lot
docs/tex/*.out
docs/tex/*.toc
docs/tex/*.verdocs/tex/*.pdf


docs/pycparser/

docs/gtkdoc/

docs/sphinx/build/
/board/rda8com/src/boot/ice40/spi_slave/spi_slave_tb
/board/rda8com/src/boot/ice40/spi_slave/spi_slave_tb.vcd
/board/rda8com/src/boot/ice40/clkdiv/clkdiv_tb
