#Ignore Backup files
*.bak
*~
*.swp
*.tmp
#Ignore files form Lattice iCEcube2
*.tcl
*.bin
*.hex
*.nvcm
*_pin_table.CSV
*_sbt.edf
*.route
*.rt_log
*.log
*.rpt
*.disabled
**/Temp/
**/netlist/
**/simulation_netlist/
**/compile/
**/aldec/**/*.mgf
**/aldec/**/wave.asdb
**/aldec/**/*.wsp
**/aldec/**/*.wsw
**/aldec/**/wave.asdbw/
**/**/master.tag
**/**/synlog/
**/**/syntmp/
**/**/synwork/
**/**/outputs/
**/**/packer/
**/**/router/
**/**/dm/
**/**/*.areasrr
**/**/*.htm
**/**/*.edf
**/**/*.fse
**/**/*.sap
**/**/*.scf
**/**/*.srd
**/**/*.srm
**/**/*.srr
**/**/*.srs
**/**/*.rpt
**/**/*.prs
run_options.txt

