# ##############################################################################
# iCEcube PCF
# Version:            2017.01.27914
# File Generated:     May 5 2017 10:23:38
# Family & Device:    iCE40HX1K
# Package:            VQ100
# ##############################################################################

set_io MCLK       15
set_io MODE       13

set_io UART_RXD    25
set_io UART_TXD    24

set_io COMM        7 -io_std SB_LVCMOS -pullup yes

set_io PM_RXD     72
set_io PM_TXD     73

set_io A_RXD      66
set_io A_TXD      69
set_io A_TXEN     65

set_io B_RXD      57
set_io B_TXD      56
set_io B_TXEN     54

set_io C_RXD      64
set_io C_TXD      63
set_io C_TXEN     62

set_io D_RXD      53
set_io D_TXD      52
set_io D_TXEN     51

set_io SPI_NSS    49 -io_std SB_LVCMOS -pullup no
set_io SPI_MISO   45
set_io SPI_MOSI   46 -io_std SB_LVCMOS -pullup no
set_io SPI_SCK    48 -io_std SB_LVCMOS -pullup no

set_io SPI_NSS1   30 -io_std SB_LVCMOS -pullup no
set_io SPI_MISO1  42
set_io SPI_MOSI1  41 -io_std SB_LVCMOS -pullup no
set_io SPI_SCK1   40 -io_std SB_LVCMOS -pullup yes

set_io SAI_SD     16
set_io SAI_MCLK   18
set_io SAI_SCK    19
set_io SAI_FS     20

set_io SEL1       90 -io_std SB_LVCMOS -pullup yes
set_io SEL2       91 -io_std SB_LVCMOS -pullup yes
set_io SEL3       93 -io_std SB_LVCMOS -pullup yes
set_io SEL4       94 -io_std SB_LVCMOS -pullup yes
set_io CTL1       95 -io_std SB_LVCMOS -pullup yes
set_io COMM1      96 -io_std SB_LVCMOS -pullup yes
set_io TDMDAT1    97 -io_std SB_LVCMOS -pullup yes
set_io TDMFS1     99 -io_std SB_LVCMOS -pullup yes
set_io TDMCK1    100 -io_std SB_LVCMOS -pullup no

set_io SEL5       79 -io_std SB_LVCMOS -pullup yes
set_io SEL6       80 -io_std SB_LVCMOS -pullup yes
set_io SEL7       81 -io_std SB_LVCMOS -pullup yes
set_io SEL8       82 -io_std SB_LVCMOS -pullup yes
set_io CTL2       83 -io_std SB_LVCMOS -pullup yes
set_io COMM2      85 -io_std SB_LVCMOS -pullup yes
set_io TDMDAT2    86 -io_std SB_LVCMOS -pullup yes
set_io TDMFS2     87 -io_std SB_LVCMOS -pullup yes
set_io TDMCK2     89 -io_std SB_LVCMOS -pullup no

set_io QIO0       26
set_io QIO1       27
set_io QIO2       28
set_io QIO3       29
set_io QCLK       33
set_io QNCS       34

set_io I2C_SDA     2
set_io I2C_SCL     1

