.metadata/
RemoteSystemsTempFiles/
*.swp
*.bak
*.pyc
*.log
*.bin
*.o
*.a
*.exe
*.elf
*.lst
*.orig
*~

# Don't tract LaTeX build files
tex/*.aux
tex/*.fdb_latexmk
tex/*.fls
tex/*.hst
tex/*.lof
tex/*.lot
tex/*.out
tex/*.toc
tex/*.pdf
build/
pycparser/
gtkdoc/
old/
tmp/

linuxdoc/docs
linuxdoc/tests

